html,
body,
#root,
.app {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2f2933;
  color: #bdf271;
  font-size: 16px;
}

.title {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 320px;
  margin: 0 auto;
}

.pit {
  width: 100%;
  height: 400px;
}

.charts {
  width: 100%;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 16px;
}

.toolbar > *:not(:last-child) {
  margin-right: 16px;
}

.toolbar__button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #251c1b;
  color: #bdf271;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  outline: none;
}
.toolbar__button:focus {
  box-shadow: inset 0 0 0 1px #bdf271;
}

.toolbar__icon {
  width: 32px;
  height: 32px;
}

.align-right {
  justify-self: right;
}

.box {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
